body {
  background-color: lightblue; /* Light yellowish background */
}

#joke-container {
  min-width: 300px;
}

.card-header {
  font-size: 1.5rem;
  font-weight: bold;
}

.btn-group button {
  min-width: 50px;
}
